<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/dash.css">
    <link rel="stylesheet" href="../static/styles/dash_aside.css">
    <link rel="stylesheet" href="../static/styles/dash_main.css">
    <title>Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="banner">
            <h1>NoticeBoard</h1>
            <a href="/logout">Logout</a>
        </div>
        <div class="content">
            <aside>
                <ul>
                    <li><button id="notices">Notices</button></li>
                    <li><button id="create">Create</button></li>
                    <li><button id="api">API</button></li>
                </ul>
            </aside>
            <main>
                <h3 id="user_id" data-id="{{ session["user_id"]}}">User_id: {{ session["user_id"]}}</h3>
                <div class="notices focus">
                    <h2>List of Notices</h2>
                    <section>
                        <ul class="notice_list"></ul>
                    </section>
                </div>
                <div class="create">
                    <h2>Create a Notice</h2>

                    <div class="create_box">
                        <input type="text" name="title" placeholder="Title" aria-placeholder="Title" class="title" id="title">
                        <textarea name="text" id="text" cols="30" rows="10" placeholder="Enter Notice Content here" class="text"></textarea>
                        <button id="submit" class="submit">Create</button>
                    </div>
                </div>
                <div class="api">
                    <h2>API</h2>
                     <article>
						<h3>Create</h3>

						<p>
							To create a notice, make a post request
						</p>
						<code>
							/api/v1/user/{user_id}/notice
						</code>
						<p>
							The post body will be json data
						</p>
	
						<code>
							{"title": "titel", "text": "text"}
						</code>
					</article>

                    <article>
						<h3>Read</h3>

						<p>
							To fetch a single notice
						</p>
						<code>
							/api/v1/user/{user_id}/{notice_id}/notice
						</code>
                        
                        <p>
                            To fetch all notices by a user
                        </p>

                        <code>
                            /api/v1/user/{user_id}/notices
                        </code>
					</article>

                    <article>
						<h3>Delete</h3>

						<p>
							To delete a notice, make a delete request
						</p>
						<code>
							/api/v1/user/{user_id}/{notice_id}/notice
						</code>
					</article>
                </div>
            </main>
        </div>
    </div>
    <script src="../static/scripts/dash.js"></script>
</body>
</html>
